<div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
  <div class="mdl-card__actions mdl-card--border">
    <a href="#/average-rating" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Average Rating
    </a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#/rating-count" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Feedback count per rating
    </a>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a href="#/feedbacks" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Feedback list
    </a>
  </div>

</div>
